#root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: black; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* display: grid; */
}

#App {
  z-index: -4;
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: 100px 100vh;
}

#head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: aliceblue;
  height: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-row: 1;
  z-index: 5;
}

#content {
  margin-top: 100px;
  background-color: black;
}
#name {
  margin-left: 30px;
  font-family: Arial, sans-serif; /* Change the font-family to your desired font */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  color: #000000;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  gap: 10px;
  font-size: 19px;

}

#navTitle {
  font-size: 20px;
}

#navTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ResumeContainer {
  position:relative;
  display: flex;
  justify-content: center;
  /* overflow-x: scroll; */
  margin-top: 30px;
  height: calc(100vh - 100px);
}

@keyframes orbit {
  0% {

    transform: translate(-30px, 50px) scale(.8);
    z-index: -1;
  }

  50% {
    transform: translate(500px, -50px) scale(1);
    z-index: -1;
  }

  50.0001% {
    transform: translate(500px, -50px) scale(1);
    z-index: 3;
  }

  100% {
    transform: translate(-30px, 50px) scale(.8);
    z-index: 3;
  }
}


#moon {
  animation-name: orbit;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding-right: 500px;
  scale: 1.1;
}

#homeName {
  position: absolute;
  color: white;
}

#linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 150px;
  left: 48%;
  transform: translate(-50%, -50%);
}

#github:hover {
  scale: 1.3;
  cursor: pointer;
}

#linkedIn {
  padding: 3px 10px;
}

#linkedIn:hover {
  scale: 1.3;
  cursor: pointer;
}

#github {
  padding: 0px 10px;
}

#test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value to your needs */
}

.aboutContainer {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.textContainer {
  margin-left: 10px; /* Adjust this value to create spacing between image and text */
  font-family: Arial, sans-serif; /* Change the font-family to your desired font */
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}


#menu {
  position: static;
  background-color: gainsboro;
  opacity: 75%;
  border-radius: 5px;
  width: 150px;
  margin-top: 300px;
  margin-right: 20px;
  justify-content: center;
  text-align: center;
}

.burger {
  margin-right: 20px;
  font-size: 30px;
}

.burger:hover {
  font-size: 35px;
  cursor: pointer;
}

.projectImg {
  height: 220px;
  margin-top: 10px;
  border-radius: 5px;
}

.project {
  height: 300px;
  width: 500px;
  border: 1px solid white;
  background-color: rgba(220, 220, 220, 0.184);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.git {
  font-size: 35px;
  color: white;
  margin-bottom: 15px;
}

.git:hover {
  font-size: 40px;
  cursor: pointer;
}